<section class="section-details">
    <div class="section__head ">
        <h3>
            Cars Details
        </h3>
    </div>
    <div class="section__body ">
        <mat-card class="example-card" *ngIf="car">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image "></div>
                <mat-card-title>{{ car.color }}</mat-card-title>
                <mat-card-subtitle>{{ car.model }}</mat-card-subtitle>
            </mat-card-header>
            <div class="card__image ">
                <img mat-card-image src="{{car.imagePath}} ">
            </div>
            <mat-card-content>
                <p>
                    {{ car.description }}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button routerLink="/cars/edit/{{id}} ">Edit</a>
                <button mat-button (click)="deleteCar() ">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>