<section class="section-allcars">
    <div class="container">
        <div class="section__head">
            <h3>
                All cars in database
            </h3>
        </div>

        <div class="section__body">
            <div *ngIf="allCars$">
                <div class="cols">
                    <div class="col" *ngFor="let car of allCars$ | async">
                        <div class="card">
                            <a routerLink="details/{{car.id}}">
                                <mat-card class="example-card">
                                    <mat-card-header>
                                        <div mat-card-avatar class="example-header-image"></div>
                                        <mat-card-title>{{ car.manufacturer }}</mat-card-title>
                                        <mat-card-subtitle>{{ car.model }}</mat-card-subtitle>
                                    </mat-card-header>
                                    <div class="card__image">
                                        <img mat-card-image src="{{car.imagePath}}">
                                    </div>
                                    <mat-card-content>
                                        <mat-list role="list">
                                            <mat-list-item role="listitem">Desctiption {{ car.description}}</mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item role="listitem">Color: {{car.color}}</mat-list-item>
                                            <mat-divider></mat-divider>
                                            <mat-list-item role="listitem">Engine: {{car.engine}}</mat-list-item>
                                        </mat-list>
                                    </mat-card-content>
                                </mat-card>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.cars -->
    </div>
    <!-- /.container -->
</section>