/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/*************************************
    Container
**************************************/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    position: relative;
    min-height: calc(100vh - 64px + 64px);
}


/********************* 
    Forms
*********************/

.form {
    max-width: 500px;
    margin: 0 auto;
}

.form .mat-form-field {
    width: 100%;
}

.form .form__actions {
    margin-top: 20px;
}

.form .form__controls {
    margin-bottom: 20px;
}


/********************* 
    Cols
*********************/

.cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}

.col {
    max-width: 33%;
    flex: 0 1 33%;
    padding: 0 15px;
}


/********************* 
    Spacer
*********************/

.spacer {
    flex: 1 1 auto;
}